legacy-peer-deps=true
node-legacy-peer-deps=true
sharp-binary-host=https://npmmirror.com/mirrors/sharp
sharp-libvips-binary-host=https://npmmirror.com/mirrors/sharp-libvips
proxy=null
registry=https://registry.npmjs.org/
node-linker=hoisted
preferOffline=true
ignore-scripts=false